Source: nagios-plugins-mendix
Section: net
Priority: optional
Maintainer: Pim van den Berg <pim.van.den.berg@mendix.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1.0
Vcs-Git: git://github.com/mendix/nagios-plugins-mendix.git

Package: nagios-plugins-mendix
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: python-mx-btrfs, python-psycopg2
Description: Plugins for Nagios
 This package provides various plugins for Nagios.
